
 <div class="form-group">
                    <label for="{{ form.title.id_for_label }}" class="form-label">Product Name:</label>
                    {{ form.product }}
                </div>

                <div class="form-group">
                    <label for="{{ form.description.id_for_label }}" class="form-label">Description:</label>
                    {{ form.description }}
                </div>

                <div class="form-group">
                    <label for="{{ form.price.id_for_label }}" class="form-label">Price:</label>
                    {{ form.price }}
                </div>

                <div class="form-group">
                    <label for="{{ form.image.id_for_label }}" class="form-label">Image:</label>
                    {{ form.image.label_tag }}
                    {{ form.image }}
                </div>

                <div class="form-group">
                    <label for="{{ form.category.id_for_label }}" class="form-label">Category:</label>
                    {{form.category}}
                </div>


                <div class="form-group form-check">
                    {{ form.is_active }}
                    <label class="form-check-label" for="{{ form.is_active.id_for_label }}">Active</label>
                </div>